.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.heroLogo {
  max-width: 100px;
  margin: 0 auto 20px auto;
  display: block;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}